
spring:
  datasource:
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  main:
    allow-bean-definition-overriding: true

server:
  error:
    include-message: always

management:
  endpoints:
    web:
      exposure:
        include: health, info, refresh
